body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.leftimage{
	float: left;
	width: 230px;
	height: 230px;
	margin-right: 10px;

}

.rightimage{
	float: right;
	width: 230px;
	height: 230px;
	margin-left: 10px;
}